# Environment variables
.env

# Database
database/*.db

# Backup files
backups/

# Binary files
angkot-kaf
angkot-kaf.exe

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
